<!DOCTYPE html>
<html>

<head>
  <title>ABDOALI</title>

</head>

<body>
  <header>
    <div class="welcome-nav">
      <p style="color: #fff8dc;">
        Designs with Love
      </p>
    </div>
    <div class="header-main">
      <mat-grid-list cols="4" rowHeight="300px" gutterSize="10px">
        <mat-grid-tile class="m4" colspan="4">
          <mat-toolbar-row>
            <span>Second Line</span>
            <span class="example-spacer"></span>
          </mat-toolbar-row>
          <mat-toolbar-row><span>third line</span></mat-toolbar-row>
        </mat-grid-tile>
        <mat-grid-tile class="m2" rowspan="2"> 2</mat-grid-tile>
        <mat-grid-tile class="m3" rowspan="2">3</mat-grid-tile>
        <mat-grid-tile class="m4" rowspan="2">4</mat-grid-tile>
      </mat-grid-list>

    </div>

  </header>
</body>



</html>