<!DOCTYPE html>
<html>

<head>
  <title>ABDOALI</title>
</head>

<body>
  <header>
    <img src="src/assets/AA-Brand-Logo.png" alt="brand logo">
    <img src="src/assets/AA-Brand-Logo.png" alt="brand logo">
    <img src="src/assets/AA-Brand-Logo.png" alt="brand logo">
    <img src="src/assets/AA-Brand-Logo.png" alt="brand logo">
    <img src="src/assets/AA-Brand-Logo.png" alt="brand logo">
    <img src="src/assets/AA-Brand-Logo.png" alt="brand logo">
  </header>
  <nav>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
  </nav>

  <app-product-card [products]="products"></app-product-card>

</body>

</html>